
/* GENERALES */
* {
    font-family: roboto;
}

h1{
    text-align: center;
    color: #ffffff;
}


/*  NAVBAR */

.container_nav{
    background-color: #1f2124;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
}

.container_nav .item_logo {
    flex-grow: 2;
}

.btn-primary{
    background-color: #1f2124;
    height: 60px;
    font-size: 30px;
}

.btn-primary:hover{
    background-color: #393d42;
    border-radius: 6px;
}

.btn-secondary{
    background-color: #2499c7;
}

.btn-secondary:hover{
    background-color: #006691;
}

/* CABECERA 1 Y 2 */

.container_cabecera{
    background-color: #1f2124;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container_cabecera .item_cabecera_1{
    width: 450px;
    height: 250px;
}

.container_cabecera .item_cabecera_1 .btn_cabecera {
   text-align: center;
}

.container_cabecera .item_cabecera_2{
    width: 450px;
    height: 250px;
}

.container_cabecera .item_cabecera_2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#p_cabecera{
    color: #ffffff;
}

/* CUERPO 1 */



.container_cuerpo1 {
    justify-content: center;
    text-align: center;
    height: 1000px;
}

.titulo_cuerpo1{
    text-align: center;
    margin-top: 20px;
}

.container_cuerpo1 .cards_cuerpo1{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container_cuerpo1 .cards_cuerpo1 .card{
    height: 600px;
}

.container_cuerpo1 .cards_cuerpo1 .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/* CUERPO 2 */

.container_cuerpo2{
    background-color: #bababa;
    width: 100%;
    height: 400px;
    margin-top: 80px;
}

.container_cuerpo2 h2{
    color: #000000;
    text-align: center;
    padding: 50px;
    
}

.container_cuerpo2 h5{
    text-align: center;
    margin-left: 50px;
}

/* CUERPO 3 */

.container_cuerpo3{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container_cuerpo3 .donador{
    width: 80%;
    height: 180px;
    background-color: #6bbef9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cuerpo3 .donador .mensaje_accion{
    color: #ffffff;
    
}

.container_cuerpo3 .donador .boton_accion{
    margin-left: 70px;
}



/* FOOTER */

.container_footer{
    background-color: #45484a;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container_footer h4 {
    color: #ffffff;
    text-align: center;
}
